# My files
media/*
annotations.xml
yolov3_coco.pb
# ---

.ipynb_checkpoints
.DS_Store
**/.idea
**/__pycache__
**/*.pkl
**/*.zip
**/*.h5
**/*.gz
**/*.bz2
**/*.model
**/*.npy
**/*.dict
**/*.tgz
**/*.csv
**/*.phraser
**/*.lda*
*.json
*.pdf
.cache
*.txt
*.tsv
*.xlsx
!requirements.txt
build
dist

